[submodule "libs/common/bsh"]
	path = libs/common/bsh
	url = https://github.com/Ujhhgtg/bsh
[submodule "libs/common/reflekt"]
	path = libs/common/reflekt
	url = https://github.com/Ujhhgtg/reflekt
[submodule "third_party/cloudflared"]
	path = third_party/cloudflared
	url = https://github.com/cloudflare/cloudflared.git
	shallow = true
[submodule "third_party/proot-static"]
	path = third_party/proot-static
	url = https://github.com/berilevi/proot-static.git
[submodule "third_party/Vulkan-Hpp"]
	path = third_party/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/OpenCL-Headers"]
	path = third_party/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "libs/common/scripta"]
	path = libs/common/scripta
	url = https://github.com/Ujhhgtg/scripta
	branch = main
